{% macro printFilterRow(filter) %}
  <div class="row">
            <div class="col">
                {{ form_row(filter.filter) }}
            </div>
            <div class="col align-self-end">
                {{ form_row(filter.condition) }}
            </div>
            <div class="col align-self-end">
                {{ form_row(filter.entity_option) }}
                {{ form_row(filter.text_option) }}
            </div>
        </div>
{% endmacro %}
{% import _self as formMacros %}
{% extends 'base.html.twig' %}

{% block title %}Recherche Avancée{% endblock %}

{% block body %}

    <div class="selected_option" data-selected-options="{{ selected |json_encode }}"></div>
    <div class="container-fluid">
    {{ form_start(form) }}
        <div id="filters_list" data-prototype="{{ formMacros.printFilterRow(form.filters.vars.prototype)|e('html_attr') }}">
        {% for filter in form.filters %}
        <div class="mt-4">
        {{ formMacros.printFilterRow(filter) }}
        </div>
        {% endfor %}
    </div>
    <div class="row m-3 justify-content-center ">
        <div class="mr-4">
            <a href="#" id="add_filter" class="btn btn-info">Ajouter filtre</a>
        </div>
        <div>
        {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
    {% include'model/_search_results.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/filter.js') }}"></script>
{% endblock %}