{% extends 'base.html.twig' %}

{% block title %}Grade index{% endblock %}

{% block body %}
    <h1>Grade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NameShort</th>
                <th>Echelles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.id }}</td>
                <td>{{ grade.name }}</td>
                <td>{{ grade.nameShort }}</td>
                <td>
                    {% for scale in grade.scales %}
                        <a href="{{ path('scale_show', {'id': scale.id}) }}" >{{ scale.name }}</a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('grade_show', {'id': grade.id}) }}">show</a>
                    <a href="{{ path('grade_edit', {'id': grade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('grade_new') }}">Create new</a>
{% endblock %}
