{% extends 'base.html.twig' %}

{% block title %}Serie index{% endblock %}

{% block body %}
    <h1>Serie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NameShort</th>
                <th>Era</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            {% if serie.mainSerie is empty %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.name }}</td>
                <td>{{ serie.nameShort }}</td>
                <td>{% if(serie.era is not empty) %}{{ serie.era.name }}{% endif %}</td>
                <td>{% if(serie.serieType is not empty) %}{{ serie.serieType.name }}{% endif %}</td>
                <td>
                    <a href="{{ path('serie_show', {'id': serie.id}) }}">show</a>
                    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>
                </td>
            </tr>
                {% for serie in serie.series %}
                    <tr>
                        <td>{{ serie.id }}</td>
                        <td class="text-secondary">- {{ serie.name }}</td>
                        <td>{{ serie.nameShort }}</td>
                        <td>{% if(serie.era is not empty) %}{{ serie.era.name }}{% endif %}</td>
                        <td>{% if(serie.serieType is not empty) %}{{ serie.serieType.name }}{% endif %}</td>
                        <td>
                            <a href="{{ path('serie_show', {'id': serie.id}) }}">show</a>
                            <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('serie_new') }}">Create new</a>
{% endblock %}
