{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ serie.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ serie.name }}</td>
        </tr>
        <tr>
            <th>NameShort</th>
            <td>{{ serie.nameShort }}</td>
        </tr>
        {% if(serie.mainSerie is not empty) %}
            <tr>
                <th>Main Serie</th>
                <td><a href="{{ path('serie_show', {'id': serie.mainSerie.id}) }}">{{ serie.mainSerie.name }}</a></td>
            </tr>
        {% endif %}

        </tbody>
    </table>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
        Unit List
    </button>
    <div class="collapse" id="collapseExample">
        <ul>
            {% for unit in serie.units %}
                <li>
                    <a href="{{ path('unit_show', {'id': unit.id}) }}">{{ unit.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <h3>Sub Series</h3>
    <ul>
        {% for serie in serie.series %}
            <li>
                <a href="{{ path('serie_show', {'id': serie.id}) }}">{{ serie.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('serie_index') }}">back to list</a>

    <a href="{{ path('serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
