{# @var model \App\Entity\Model #}
{% extends 'base.html.twig' %}

{% block title %}Model index{% endblock %}

{% block body %}
    <h1>Model index</h1>
    <h3>Nombre de maquettes : {{ total }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Box</th>
                <th>Name</th>
                <th>Série</th>
                <th>Version</th>
                <th>{{ knp_pagination_sortable(models,'Date','date') }}</th>
                <th>{{ knp_pagination_sortable(models,'Prix','price') }}</th>
                <th>{{ knp_pagination_sortable(models,'Grade','grade') }}</th>
                <th>Echelle</th>
                <th>NbPart</th>
                <th>{{ knp_pagination_sortable(models,'N° Grade','gradeNumber') }}</th>
                <th>CodeJAN</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>
                    {% if(model.pictures.first != false) %}
                    <img height="100" src="{{ asset('/uploads/'~model.pictures.first.name) }}">
                    {% endif %}
                </td>
                <td>
{#                    {% if(model.unit is not empty) %}#}
{#                    <a href="{{ path('unit_show', {'id': model.unit.first.id}) }}"> {{ model.name }}</a>#}
{#                    {% endif %}#}
                    <a href="{{ path('model_show', {'id': model.id}) }}">{{ model.name }}</a>
                   </td>
                <td>
                    {% if(model.unit is not empty) %}
                    {% for unit in model.unit %}
                        {% for serie in unit.serie %}
                        <a href="{{ path('serie_show', {'id': serie.id}) }}" >{{ serie.nameShort }}</a>
                            {% endfor %}
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{{ model.version }}</td>
                <td>{{ model.date ? model.date|date('M Y') : '' }}</td>
                <td>¥{{ model.price |number_format(0,'.') }}</td>
                <td>{{ model.grade.nameShort }}</td>
                <td>{{ model.scale.name }}</td>
                <td>{{ model.nbPart }}</td>
                <td>{{ model.gradeNumber }}</td>
                <td>{{ model.codeJAN }}</td>
                <td>{{ model.description|length < 50 ? model.description : model.description |slice(0,50)~'...' }}</td>
                <td>
                    <a href="{{ path('model_show', {'id': model.id}) }}">show</a>
                    <a href="{{ path('model_edit', {'id': model.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-center">{{ knp_pagination_render(models) }}</div>
    <a href="{{ path('model_new') }}">Create new</a>
{% endblock %}
