{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}
    <h1>Model</h1>

    <table class="table">
        <tbody>
        <tr>
            <td colspan="2">
                <img height="300" src="{{ asset('/uploads/'~model.pictures.first.name) }}">
            </td>
        </tr>
        <tr>
            <th>Id</th>
            <td>{{ model.id }}</td>
        </tr>
        <tr>
            <th>Unit Name</th>
            <td>
                {% for unit in model.unit %}
                    <a href="{{ path('unit_show', {'id': model.unit.first.id}) }}"> {{ unit.name }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Model Name</th>
            <td>{{ model.name }}</td>
        </tr>
        <tr>
            <th>Serie</th>
            <td><a href="{{ path('serie_show', {'id': model.unit.first.serie.first.id}) }}">{{ model.unit.first.serie.first.name }}</a></td>
        </tr>
        {% if(model.version is not empty) %}
            <tr>
                <th>Version</th>
                <td>{{ model.version }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Release Date</th>
            <td>{{ model.date ? model.date|date('M Y') : '' }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>¥{{ model.price |number_format(0,'.') }}</td>
        </tr>
        <tr>
            <th>Number of Part</th>
            <td>{{ model.nbPart }}</td>
        </tr>
        <tr>
            <th>GradeNumber</th>
            <td>{{ model.gradeNumber }}</td>
        </tr>
        <tr>
            <th>CodeJAN</th>
            <td>{{ model.codeJAN }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ model.description }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('model_index') }}">back to list</a>

    <a href="{{ path('model_edit', {'id': model.id}) }}">edit</a>

    {{ include('model/_delete_form.html.twig') }}
{% endblock %}
